body{
	background-color: #0099cc;
	font-family: Verdana, Geneva, sans-serif
}

.wrapper{
	margin: 2.5%;
}

header{
	border-top: 6px solid #ffffff;
	border-bottom: 3px solid #ffffff;
}

h1{
	color: #000000;
}

h4{
	margin-top: 60px;	
}

h4, h3{
	font-size: 22px;
}

nav ul{
	padding-bottom: 10px;
	padding-left: 30px;
	float: right;
	font-size: 20px;
}

nav li{
	display: inline;
	margin-right: 15px;
}

nav li a{
	color: #ffffff;
	text-decoration: none;
}

nav li a:hover, nav li a.current{
	color: #000000;
}

.Selfie{
	margin-top: 80px;
	text-align: center;
}

.bio_paragraph
{
	margin-top: 60px;
	font-style: italic;
	margin-right: 300px;
}

table{
	width: 100%;
	border-spacing: 0px;
	margin: 30px;
	font-size: 14px;
}

td{
	height: 40px;
	border-bottom: 1px dotted;
	border-color: #ffffff;
}

.table_header{
	font-weight: bold;
	font-size: 18px;
}

.table_wrapper{
	margin-right: 100px;
}

